In [7]:
# Variables and basic operations
x = 10
y = 5
print("Sum:", x + y)
print("Product:", x * y)

# Lists
fruits = ['apple', 'banana', 'cherry']
print(fruits[1])  # banana

# Dictionaries
person = {"name": "Anan", "age": 35}
print(person["name"])

import numpy as np
import pandas as pd

# NumPy array
arr = np.array([1, 2, 3, 4])
print(arr * 2)

# Pandas DataFrame
data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Score': [85, 90, 78]
})
print(data.describe())

Sum: 15
Product: 50
banana
Anan
[2 4 6 8]
           Score
count   3.000000
mean   84.333333
std     6.027714
min    78.000000
25%    81.500000
50%    85.000000
75%    87.500000
max    90.000000

In [1]:
import numpy as np
arr = np.array([1,2,3,4,5])
print(arr * 2)
print(arr[1:4])

[ 2  4  6  8 10]
[2 3 4]

In [3]:
import pandas as pd
data = pd.DataFrame({'Name':['Alice','Bob'], 'Score':[85,90]})
print(data)
print(data.describe())

    Name  Score
0  Alice     85
1    Bob     90
           Score
count   2.000000
mean   87.500000
std     3.535534
min    85.000000
25%    86.250000
50%    87.500000
75%    88.750000
max    90.000000

In [15]:
import pandas as pd
data = pd.read_csv("C:\\Users\\karth\\repo\\ml-mini-projects\\datasets\\student_exam_scores.csv")
print(data.head())
print(data.describe())
print(data.info())
missing_counts = data.isnull().sum()
print(missing_counts)
high_score = data[data['previous_scores'] > 80]

print(high_score[['student_id','previous_scores']].head(5))

  student_id  hours_studied  sleep_hours  attendance_percent  previous_scores  \
0       S001            8.0          8.8                72.1               45
1       S002            1.3          8.6                60.7               55
2       S003            4.0          8.2                73.7               86
3       S004            3.5          4.8                95.1               66
4       S005            9.1          6.4                89.8               71

   exam_score
0        30.2
1        25.0
2        35.8
3        34.0
4        40.3
       hours_studied  sleep_hours  attendance_percent  previous_scores  \
count     200.000000   200.000000          200.000000       200.000000
mean        6.325500     6.622000           74.830000        66.800000
std         3.227317     1.497138           14.249905        15.663869
min         1.000000     4.000000           50.300000        40.000000
25%         3.500000     5.300000           62.200000        54.000000
50%         6.150000     6.700000           75.250000        67.500000
75%         9.000000     8.025000           87.425000        80.000000
max        12.000000     9.000000          100.000000        95.000000

       exam_score
count  200.000000
mean    33.955000
std      6.789548
min     17.100000
25%     29.500000
50%     34.050000
75%     38.750000
max     51.300000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   student_id          200 non-null    object
 1   hours_studied       200 non-null    float64
 2   sleep_hours         200 non-null    float64
 3   attendance_percent  200 non-null    float64
 4   previous_scores     200 non-null    int64
 5   exam_score          200 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 9.5+ KB
None
student_id            0
hours_studied         0
sleep_hours           0
attendance_percent    0
previous_scores       0
exam_score            0
dtype: int64
   student_id  previous_scores
2        S003               86
6        S007               88
8        S009               84
10       S011               81
11       S012               85